<mat-toolbar color="primary">
  <span>
    <a *ngIf="userIsAuthenticated" routerLink="/"><img src="/assets/img/foods4bulking-white.png" alt="Foods4Bulking" width="auto" height="50"></a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">Create</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Log-in</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Log-out</button>
    </li>
  </ul>
</mat-toolbar>
