
<div class="spinner-information" *ngIf="isLoading">
    <p> Loading your favourite food</p>
    <mat-spinner color='accent' ></mat-spinner>
</div>

<form (submit)="onSaveFood(postFoodForm)" #postFoodForm="ngForm" *ngIf="!isLoading">
  <mat-card class="example-card mat-elevation-z3">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Favorite food</mat-label>
      <input matInput type="text" name="foodName" [ngModel] = "food?.name" required minlength="1" #foodName="ngModel">
      <mat-error *ngIf="foodName.invalid">Please enter a food name.</mat-error>
    </mat-form-field>
    <mat-checkbox class="example-margin" name="customMacros" [(ngModel)]="customizeMacros">Customize macros</mat-checkbox>
    <div [hidden]="!customizeMacros" class="personalize-row row">
      <div class="col-md-4">
        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Proteins</mat-label>
          <input matInput type="number" name="foodPros" [ngModel] = "food?.proteins">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Carbohydrates</mat-label>
          <input matInput type="number" name="foodCarbs" [ngModel] = "food?.carbohydrates">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Fats</mat-label>
          <input matInput type="number" name="foodFats" [ngModel] = "food?.fats">
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <button mat-raised-button type="submit" color="accent">Add</button>
    </div>
  </mat-card>
</form>
