/* https://colorswall.com/palette/52989/ */

.example-form-field {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-card {
  background-color: #007bff;
}

.food-form {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

tr.bg-col th {
  background-color: #007bff;
  color: white;
}

tr.bg-total td {
  background-color: #007bff;
  color: white;
}

table {
  width: 100%;
}

/* input color class */
::ng-deep input.mat-input-element {
  color: white;
}

/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: white !important;
}

/* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: white !important;
}
