<div class="row">
    <div class="col-md-12 pt-2 pb-2">
        <div class="input-group">
            <!--input type="text" class="form-control" [(ngModel)]="rName" placeholder="Food name"-->
            <button class="btn btn-success" (click)="onNewRecipe()" [disabled]="recipes.length > 0">New Recipe</button>
          </div>
    </div>

  
    <div class="col-md-12">
        <a
        href="#" 
        class="list-group-item clearfix" 
        *ngFor="let recipe of recipes">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
                <p class="list-group-item-text text-center">{{ recipe.description }}</p>
                <small>Pros: {{ recipe.proteins }}</small>
                <hr>
                <small>Carbs: {{ recipe.carbohydrates }}</small>
                <hr>
                <small>Fats: {{ recipe.fats }}</small>
            </div>
            <span class="pull-right">
                <!--img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 50px;"-->
            </span>
            <button class="btn btn-danger" style="float: right;" (click)="onDeleteRecipe(recipe.id)">Delete</button>
        </a>
        <hr>
        <p class="text-start">Total</p>
        <hr>
        <div class="input-group">
            <span class="input-group-text">Proteins</span>
            <input input type="text" class="form-control" [(ngModel)]="sumPros" disabled>
            <span class="input-group-text">Carbohydrates</span>
            <input input type="text" class="form-control" [(ngModel)]="sumCarbs" disabled>
            <span class="input-group-text">Fats</span>
            <input input type="text" class="form-control" [(ngModel)]="sumFats" disabled>
        </div>
        <app-recipe-item></app-recipe-item>
    </div>
</div>
