<table mat-table [dataSource]="foods"  class="food-table mat-elevation-z3">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let food"> {{ food.name }} </td>
  </ng-container>
  <ng-container matColumnDef="proteins">
    <th mat-header-cell *matHeaderCellDef>Pros(g)</th>
    <td mat-cell *matCellDef="let food"> {{ food.proteins }} </td>
  </ng-container>
  <ng-container matColumnDef="carbohydrates">
    <th mat-header-cell *matHeaderCellDef>Carbs(g)</th>
    <td mat-cell *matCellDef="let food"> {{ food.carbohydrates }} </td>
  </ng-container>
  <ng-container matColumnDef="fats">
    <th mat-header-cell *matHeaderCellDef>Fats(g)</th>
    <td mat-cell *matCellDef="let food"> {{ food.fats }} </td>
  </ng-container>
  <ng-container matColumnDef="sugars">
    <th mat-header-cell *matHeaderCellDef>Sugars(g)</th>
    <td mat-cell *matCellDef="let food"> {{ food.sugars }} </td>
  </ng-container>
  <ng-container matColumnDef="calories">
    <th mat-header-cell *matHeaderCellDef>Kcal</th>
    <td mat-cell *matCellDef="let food"> {{ food.calories }} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let food">
      <button mat-icon-button color="accent">
        <mat-icon>favorite_border</mat-icon>
      </button>
      <a mat-icon-button [routerLink]="['edit', food.id]">
        <mat-icon>edit</mat-icon>
      </a>
      <button mat-icon-button color="warn" (click)="onDeleteFood(food.id)">
        <mat-icon>delete_outline</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
